
.settings > * {
    width: 100%;
    margin: 0.5rem 0;
}

@media (min-width: 1024px) {
    .settings {
        display: grid;
        grid-template-areas:
            "turret charge ship velocity"
            "turret charge ship signature";
    }

    .settings > *:nth-child(1) {
        grid-area: turret;
    }
    .settings > *:nth-child(2) {
        grid-area: charge;
    }
    .settings > *:nth-child(3) {
        grid-area: ship;
    }
    .settings > *:nth-child(4) {
        grid-area: velocity;
    }
    .settings > *:nth-child(5) {
        grid-area: signature;
    }

    .settings > * {
        width: inherit;
        margin: 0.5rem;
    }
}
